In [ ]:
!pip install sklearn
!pip install pandas
!pip install numpy
!pip install nltk
!pip install spacy
import pandas as pd
import numpy as np
import nltk
import spacy
import sklearn
nltk.download('stopwords')
from nltk.corpus import stopwords

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (3.4.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (8.1.4)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.1.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (21.3)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.6.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.64.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.10)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.9.2)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.4.4)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.9.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.8)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.3)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy) (2.0.1)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
import re

In [ ]:
df1=pd.read_csv('submit.csv')

In [ ]:
df_train=pd.read_csv('train.csv')

In [ ]:
df_test=pd.read_csv('test.csv')

In [ ]:
test=df_test.merge(df1,on='id',how='inner')
print(test.head())

In [ ]:
test=df_test.dropna()

In [ ]:
print(test.isna().sum())

In [ ]:
train=df_train.dropna()
print(train.isna().sum())

In [ ]:
df=train.append(test,ignore_index=True)

In [ ]:
print(df.isna().sum())

In [ ]:
print(df.head())

In [ ]:
df=df.dropna()

In [ ]:
print(df.isna().sum())

In [ ]:
print(df.shape)

In [ ]:
df=df.iloc[:,1:]
print(df.head())

In [ ]:
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer

In [ ]:
from nltk.stem.wordnet import WordNetLemmatizer
lm=WordNetLemmatizer()

def remove_stop_words (text):
    word=word_tokenize(text)
    t=[]
    for token in word:
      if token.lower() not in stopwords.words('english'):
        t.append(lm.lemmatize(token))
    return t

In [ ]:
def clean_txt(text):
    text = re.sub("'", "", text)
    text = re.sub("(\\W)+", " ", text)
    text = re.sub(r"(http[s]?\://\S+)|([\[\(].*[\)\]])|([#@]\S+)|\n|\r|\t", "",text)
    text = re.sub('\s+',' ',text)
    text = re.sub(r"[0-9]", "",text)
    text = text.lower()

    return text

In [ ]:
print(df.head())

In [ ]:
nltk.download('punkt')

from nltk.tokenize import sent_tokenize,word_tokenize
df['title']=df['title'].apply(clean_txt)
df['title']=df['title'].apply(remove_stop_words)
df['author']=df['author'].apply(clean_txt)
df['author']=df['author'].apply(remove_stop_words)
df['text']=df['text'].apply(clean_txt)
df['text']=df['text'].apply(remove_stop_words)




print(df)

In [ ]:
df.to_csv('datafraframe.csv')

NameError: ignored

In [ ]:
df=df.dropna()

In [ ]:
print(df.shape)

In [ ]:
df=pd.read_csv('datafraframe.csv', index_col=[0])

In [ ]:
df.head()

,title,author,text,label
0,"['house', 'dem', 'aide', 'even', 'see', 'comey...","['darrell', 'lucus']","['house', 'dem', 'aide', 'even', 'see', 'comey...",1.0
1,"['flynn', 'hillary', 'clinton', 'big', 'woman'...","['daniel', 'j', 'flynn']","['ever', 'get', 'feeling', 'life', 'circle', '...",0.0
2,"['truth', 'might', 'get', 'fired']","['consortiumnews', 'com']","['truth', 'might', 'get', 'fired', 'october', ...",1.0
3,"['civilian', 'killed', 'single', 'u', 'airstri...","['jessica', 'purkiss']","['video', 'civilian', 'killed', 'single', 'u',...",1.0
4,"['iranian', 'woman', 'jailed', 'fictional', 'u...","['howard', 'portnoy']","['print', 'iranian', 'woman', 'sentenced', 'si...",1.0

In [ ]:
df['title']=df['title'].apply(clean_txt)
df['author']=df['author'].apply(clean_txt)
df['text']=df['text'].apply(clean_txt)
df.head()

,title,author,text,label
0,house dem aide even see comey letter jason ch...,darrell lucus,house dem aide even see comey letter jason ch...,1.0
1,flynn hillary clinton big woman campus breitb...,daniel j flynn,ever get feeling life circle roundabout rathe...,0.0
2,truth might get fired,consortiumnews com,truth might get fired october tension intelli...,1.0
3,civilian killed single u airstrike identified,jessica purkiss,video civilian killed single u airstrike iden...,1.0
4,iranian woman jailed fictional unpublished st...,howard portnoy,print iranian woman sentenced six year prison...,1.0

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.utils import shuffle

In [ ]:
df=shuffle(df)

In [ ]:
df.head()

,title,author,text,label
7081,amid tide red electoral map west coast stay d...,thomas fuller jack healy kirk johnson,san francisco west coast long prided engine r...,0.0
14437,jesse ventura explains hillary gun control hy...,ryan banister,former minnesota governor jesse ventura appea...,1.0
4203,sort around holiday could family jet lag new ...,elizabeth yuko,holiday mean large extended family gathering ...,0.0
1023,busted trump decade old claim donates charity...,carrie macdonald,republican presidential nominee donald trump ...,1.0
13138,praying freedom israel silencing call prayer ...,ramzy baroud,ramzy baroud,1.0

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df.head()

,title,author,text,label
0,amid tide red electoral map west coast stay d...,thomas fuller jack healy kirk johnson,san francisco west coast long prided engine r...,0.0
1,jesse ventura explains hillary gun control hy...,ryan banister,former minnesota governor jesse ventura appea...,1.0
2,sort around holiday could family jet lag new ...,elizabeth yuko,holiday mean large extended family gathering ...,0.0
3,busted trump decade old claim donates charity...,carrie macdonald,republican presidential nominee donald trump ...,1.0
4,praying freedom israel silencing call prayer ...,ramzy baroud,ramzy baroud,1.0

In [ ]:
X=df[['title','author','text']]

In [ ]:
y=df['label']

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
vectorizer = TfidfVectorizer()

#title

In [ ]:
train1=list(X_train.title.values)

In [ ]:
test1=list(X_test.title.values)

In [ ]:
label_train=y_train.values

In [ ]:
label_test=y_test.values

In [ ]:
train1=vectorizer.fit_transform(train1)

In [ ]:
test1=vectorizer.transform(test1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf=RandomForestClassifier(n_estimators=300)

In [ ]:
rf.fit(train1,label_train)

In [ ]:
y_pred=rf.predict(test1)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
sc=accuracy_score(y_pred,label_test)

In [ ]:
print(sc)

#text

In [ ]:
train1=list(X_train.text.values)

In [ ]:
test1=list(X_test.text.values)

In [ ]:
label_train=y_train.values

In [ ]:
label_test=y_test.values

In [ ]:
train1=vectorizer.fit_transform(train1)

In [ ]:
test1=vectorizer.transform(test1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf=RandomForestClassifier(n_estimators=200)

In [ ]:
rf.fit(train1,label_train)

RandomForestClassifier(n_estimators=200)

In [ ]:
y_pred=rf.predict(test1)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
sc=accuracy_score(y_pred,label_test)

In [ ]:
print(sc)

0.9089417555373257